/* ?common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

/* ?nav related styles */
.text_primary {
  color: #fd6e0a;
}
.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 28px;
}
.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section_description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.portfolio_title {
  color: var #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* ?header related styles */

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 15px 30px 0px 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.banner_content {
  max-width: 765px;
}
.banner .profile_pic {
  /* width: 25%; */
  width: 500px;
  height: 598px;
  flex-shrink: 0;
}
.banner_greeting {
  color: #474747;
  font-size: 40px;
  margin-bottom: 0;
}
.banner_title {
  font-size: 80px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 50px;
}
.banner_description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}

/* ?main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 80px; /*margin-top: 130px*/
}

/* ?about section styles */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.about_info_container {
  display: flex;
  justify-content: space-between;
}

.about_info {
  text-align: center;
}

.about_info_container .about_info .info_title {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
}

.about_info_container .about_info .info_description{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

/* ?skills related styles */
.skill_section_title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 900;
  
}

.skill_section_description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  padding: 30px 150px;
}

.skills_container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_description {
  color: #757575;
}

/* ?resume section style */
.resume_section_colum{
  display: flex;
  gap: 50px;
}

.resume_colum_title {
  color: #474747;
  display: flex;
  font-size: 30px;
  font-weight: 700;
}

.resume_item_title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume_item_institute {
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume_item_institute .resume_item_description {
  color: #757575;
  font-weight: 400;
  line-height: 28px;
}
.resume_container hr {
  margin: 30px;
}

.download_cv {
  text-align: center;
  margin-top: 50px;
}

/* ?footer styles */

footer {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  margin-top: 100px;
  padding: 130px 200px;
}
.footer_colum {
  width: 50%;
}
.footer_colum h3 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.footer_colum p {
  text-align: left;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* .social_links {
  !i'm trying to place icons in middle
  margin: auto;
  display: table;
} */
.social_links a {
  margin-right: 20px;
  padding: 20px;
  padding-left: 0;
}

/* ?contact form style */

.contact input[type="name"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  font-size: 16px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {

  .banner .profile_pic {
    width: 100%;
    /* background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left; */
  }

  .header {
    background-image: none;
  }

  .about {
    padding: 10px;
  }

  .btn_primary {
    margin-bottom: 20px;
  }
  
  .banner_greeting {
    color: #474747;
    font-size: 30px;
    margin-bottom: 0;
  }

  .banner_title {
    font-size: 60px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  nav > ul {
    gap: 10px;
  }

  nav > ul,
  nav,
  .banner,
  .skills_container,
  .resume_section_colum,
  .about_info_container {
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
  }

  .skill_section_description {
    padding: 50px;
  }
   
  footer {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .banner {
    padding: 20px;
  }
  .footer_colum {
    width: 100%;
    padding: 20px;
  }

  .contact {
    width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  .banner {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
  }

  nav > ul {
    flex-direction: column;
    gap: 10px;
  }

  .skills_container {
    flex-direction: column;
    padding: 80px;
  }

  .resume_section_colum {
    flex-direction: column;
    padding: 20px;
  }

  .about_info_container {
    flex-direction: column;
  }

  .about {
    padding: 20px;
    margin-top: 0px;
  }

  .section_description{
    padding: 10px;
  }

  footer {
    padding: 30px;
    gap: 30px;
  }

  .contact {
    width: 80%;
  }
}